qa-blocked-backend-creator
{
  "name": "moving_QBfromQAjobBoardForBackend_to_QB",
  "nodes": [
    {
      "parameters": {
        "team": "90181787093",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "901814015915",
          "spaceId": "90188606741"
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -224
      ],
      "id": "5ae77b32-4d2e-46e1-8715-9b95650fa964",
      "name": "ClickUp Trigger",
      "webhookId": "df1c81a5-22d0-46f8-b953-d29ff8768d7e",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -480,
        -224
      ],
      "id": "641b9927-8073-467c-a731-b26ccf191fd3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04424456-fcef-4386-9fb4-fef685ae4442",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "QUALITY BLOCKED BACKEND",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3636bd1b-75a4-44d2-82cd-0014e6a2a61a",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "quality blocked backend",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        -224
      ],
      "id": "ca21986b-231c-41a9-8eeb-718307635ee1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -32,
        -224
      ],
      "id": "b8474bf4-9a6e-44d0-8535-43bbe4b2600c",
      "name": "Get a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "team": "90181787093",
        "space": "90186999301",
        "folderless": true,
        "list": "901811840900",
        "name": "={{ `[${$json.id}] ${$json.name}` }}",
        "additionalFields": {
          "content": "= {{ $json.text_content }}",
          "tags": "={{ $json.tags }}"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        192,
        -224
      ],
      "id": "edb713e8-39ad-4f7f-a2f5-cc5317026d0b",
      "name": "Create a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "none",
    "saveManualExecutions": false
  },
  "versionId": "070e351a-7ba1-44bc-88f4-97c301d035e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfefda8b8561e999840c4adfac23e386ed9e4cb2425c2372729c1876c847c669"
  },
  "id": "5N8DeRaGZSeXThVC",
  "tags": []
}
